<div>
    <h2>
        <span jhiTranslate="rimAnnoceApp.annonce.home.title">Annonces</span>
        <button class="btn btn-primary float-right jh-create-entity create-annonce" [routerLink]="['/', { outlets: { popup: ['annonce-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="rimAnnoceApp.annonce.home.createLabel">
            Create new Annonce
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="annonces">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="title"><span jhiTranslate="rimAnnoceApp.annonce.title">Title</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="details"><span jhiTranslate="rimAnnoceApp.annonce.details">Details</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="photo1"><span jhiTranslate="rimAnnoceApp.annonce.photo1">Photo 1</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="photo2"><span jhiTranslate="rimAnnoceApp.annonce.photo2">Photo 2</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="photo3"><span jhiTranslate="rimAnnoceApp.annonce.photo3">Photo 3</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="prix"><span jhiTranslate="rimAnnoceApp.annonce.prix">Prix</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="date"><span jhiTranslate="rimAnnoceApp.annonce.date">Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="status"><span jhiTranslate="rimAnnoceApp.annonce.status">Status</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="mouqataaId"><span jhiTranslate="rimAnnoceApp.annonce.mouqataa">Mouqataa</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="categorieId"><span jhiTranslate="rimAnnoceApp.annonce.categorie">Categorie</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="userId"><span jhiTranslate="rimAnnoceApp.annonce.user">User</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let annonce of annonces ;trackBy: trackId">
                <td><a [routerLink]="['../annonce', annonce.id ]">{{annonce.id}}</a></td>
                <td>{{annonce.title}}</td>
                <td>{{annonce.details}}</td>
                <td>
                    <a *ngIf="annonce.photo1" (click)="openFile(annonce.photo1ContentType, annonce.photo1)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="annonce.photo1">{{annonce.photo1ContentType}}, {{byteSize(annonce.photo1)}}</span>
                </td>
                <td>
                    <a *ngIf="annonce.photo2" (click)="openFile(annonce.photo2ContentType, annonce.photo2)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="annonce.photo2">{{annonce.photo2ContentType}}, {{byteSize(annonce.photo2)}}</span>
                </td>
                <td>
                    <a *ngIf="annonce.photo3" (click)="openFile(annonce.photo3ContentType, annonce.photo3)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="annonce.photo3">{{annonce.photo3ContentType}}, {{byteSize(annonce.photo3)}}</span>
                </td>
                <td>{{annonce.prix}}</td>
                <td>{{annonce.date | date:'medium'}}</td>
                <td jhiTranslate="{{'rimAnnoceApp.AnnonceStatus.' + annonce.status}}">{{annonce.status}}</td>
                <td>
                    <div *ngIf="annonce.mouqataaId">
                        <a [routerLink]="['../mouqataa', annonce.mouqataaId  ]" >{{annonce.mouqataaId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="annonce.categorieId">
                        <a [routerLink]="['../categorie', annonce.categorieId  ]" >{{annonce.categorieId}}</a>
                    </div>
                </td>
                <td>
                    {{annonce.userId}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../annonce', annonce.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'annonce/'+ annonce.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'annonce/'+ annonce.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="annonces && annonces.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
